---
import Layout from '../layouts/Layout.astro';
import Portifolio from '../components/Portifolio.astro';
import Sobre from '../components/Sobre.astro';
import Tecnologias from '../components/Tecnologias.astro'
import Projetos from '../components/Projetos.astro'
import Contato from '../components/Contato.astro'
import Footer from '../layouts/Footer.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="bg-black">
		<Portifolio />
		<Sobre />
		<br><br><br><br>
		<Tecnologias />
		<br><br><br><br>
		<Projetos />
		<br><br><br><br>
		<Contato />
	</main>
</Layout>

<Footer>

</Footer>



