<section>

  <h1 class="text-4xl font-bold text-center mb-8 text-white">Projetos</h1>

  <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
      <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
        
          <div class="p-6">
              <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97" alt="Projeto 1">

              <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-white lg:text-3xl">Projeto 1</h1>
              <p class="mx-auto text-base leading-relaxed text-white">
                Descrição do projeto 1 aqui. Você pode adicionar detalhes específicos sobre o projeto e suas características principais.</p>
              <div class="mt-4">
                  <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-400 lg:mb-0 hover:text-white" title="read more"> Saiba Mais » </a>
              </div>
          </div>
          <div class="p-6">
              <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085" alt="Projeto 2">

              <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-white lg:text-3xl">Projeto 2</h1>
              <p class="mx-auto text-base leading-relaxed text-white">
                Descrição do projeto 2 aqui. Você pode adicionar detalhes específicos sobre o projeto e suas características principais.</p>
              <div class="mt-4">
                  <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-400 lg:mb-0 hover:text-white" title="read more"> Saiba Mais » </a>
              </div>
          </div>
          <div class="p-6">
              <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6" alt="Projeto 3">

              <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-white lg:text-3xl">Projeto 3</h1>
              <p class="mx-auto text-base leading-relaxed text-white">
                Descrição do projeto 3 aqui. Você pode adicionar detalhes específicos sobre o projeto e suas características principais.</p>
              <div class="mt-4">
                  <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-400 lg:mb-0 hover:text-white" title="read more"> Saiba Mais » </a>
              </div>
          </div>
      </div>
  </div>
</section>
