---
---

<section id="sobre" class="py-20 px-8">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-4xl font-bold text-center mb-8 text-white">Sobre Mim</h2>
    <div class="flex flex-col md:flex-row gap-8 items-center">
      <div class="md:w-1/2">
        <img 
        src="src/assets/img/portifolio.svg"
        alt="Foto de perfil"
        class="rounded-lg shadow-lg w-full max-w-md mx-auto"
      />
      
      </div>
      <div class="md:w-1/2">
        <p class="text-lg mb-4 text-white">
          Cursando Análise e Desenvolvimento de Sistemas na UNIJUAZEI, com experiência profissional como Engenheiro de Prompts.
          Desenvolvo sites e aplicativos web responsivos com as melhores tecnonoligias de desenvolvimento.
          <br>
          Como intusiasta das tecnicas de IA, busco criar soluções inovadoras e eficientes, sempre focado em aprendizado contínuo e de excelência.
          Visando o desenvolvimento de soluções inovadoras de maneira rapida e eficiente para os clientes.
          Sempre entregando soluções de qualidade.
        </p>
        
      </div>
    </div>
  </div>
</section>
